{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
<h3 class="text-white my-5">About Page</h3>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae maiores quod, velit voluptas quibusdam sint dolorem consequatur dicta ipsum quidem iste mollitia molestiae? Quaerat sit laborum necessitatibus tempora ea dolores, quo incidunt?</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos libero nostrum explicabo nisi doloremque eius consectetur eligendi sapiente ea quaerat dolor excepturi sed cumque, minus ab eos odit praesentium nemo. Iusto aliquam velit, fugit provident minus, quidem suscipit harum explicabo libero consequuntur error et reiciendis maxime soluta voluptate a ex.</p>
</div>


{% endblock content %}